<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Current Students</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <!--Stylsheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<script src="../JS/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<body>

<!--NavBar-->
<div class="container  px-0">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="https://placehold.it/118x43"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ACADEMICS+
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-auto">
                        <div class="dropdown-item-text">
                          Text TK TKTK
                        </div>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                      </div>
                      <div class="col-sm-auto">
                        <div class="dropdown-item-text">
                          Text TK TKTKTK
                        </div>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                      </div>
                    </div>
                </div>
              </li>
          <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PEOPLE+
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container">
                <div class="row">
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item  ml-1  ml-lg-4">
            <a class="nav-link" href="#">EVENTS</a>
          </li>
          <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT+
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container">
                <div class="row">
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                </div>
            </div>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
            <button type="button" class="mx-1  btn  btn-primary  font-weight-bold  btn--nav">APPLICATIONS</button>
            <button type="button" class="mx-1  btn  btn-warning font-weight-bold btn--nav">FOR CURRENT STUDENTS</button>
         </div>
      </div>
    </nav>
  </div>

<div class="container pt-5 px-5">
    <div class="row">
        <div class="col">
            <h4>For Current Students</h4>
            <ul class="px-0" style="list-style-type:none;">
                <li><a href="#"><u>Student Resources</u></a></li>
                <li><a href="#"><u>For Undergraduate Students</u></a></li>
                <li><a href="#"><u>For Graduate Students</u></a></li>
                <li><a href="#"><u>Job/Internship/Opportunities</u></a></li>
            </ul> 
        </div>
    </div>
</div>

<div class="container px-5">
    <div class="row">
        <div class="col-12">
            <h4 id="current_students">Select Student Resources</h4>
        </div>
    </div>
</div>

<div class="container">
    <ul class="px-4.5" style="list-style-type:none;">
        <li><a href="#"><u>Various PDE</u></a></li>
        <li><a href="#"><u>Various PDE</u></a></li>
        <li><a href="#"><u>Various PDE</u></a></li>
    </ul> 
</div>

<div class="container px-5">
    <p>For further information regarding these and other UCLA resources, please refer to the <a href="#"><u>UCLA General Catalog.</u></a>
    </p>
</div>

<div class="container px-5">
    <p>ACADEMIC and STUDENT LIFE</p>
</div>

<div class="container px-5">
    <p class="mb-0">UCLA General Catalog and Schedule of Classes</p>
    <ul class="px-0" style="list-style-type:none;">
        <li><a href="#"><u>UCLA Schedule of Classes</u></a></li>
        <li><a href="#"><u>UCLA General Catalog</u></a></li>
        <li><a href="#"><u>Department of Art Requirements and Course Descriptions</u></a></li>
        <li><a href="#"><u>School of the Arts and Architecture, General Catalog</u></a></li>
    </ul> 
</div>

<div class="container px-5">
    <p class="mb-0">Calendars (from UCLA Registrar)</p>
    <ul class="px-0" style="list-style-type:none;">
        <li><a href="#"><u>*Annual Academic Calendar</u></a></li>
        <li><a href="#"><u>*Term Calendar</u></a></li>
    </ul> 
</div>

<div class="container px-5">
    <p class="mb-0">Campus Resources</p>
    <ul class="px-0" style="list-style-type:none;">
        <li><a href="#"><u>Center for Accessible Education</u></a></li>
        <li><a href="#"><u>UCLA Career Center</u></a></li>
        <li><a href="#"><u>UCLA Financial Aid Office</u></a></li>
        <li><a href="#"><u>Bruin Resource Center</u></a></li>
        <li><a href="#"><u>Dashew Center for International Students and Scholars
            Arts Library</u></a></li>
    </ul> 
</div>

<div class="container px-5">
    <p class="mb-0">HEALTH and WELLNESS</p>
    <ul class="px-0" style="list-style-type:none;">
        <li><a href="#"><u>Arthur Ashe Student Health and Wellness Center</u></a></li>
        <li><a href="#"><u>Counseling and Psychological Services</u></a></li>
        <li><a href="#"><u>CARE</u></a></li>
        <li><a href="#"><u>Resilience in your Student Experience (RISE) Center</u></a></li>
        <li><a href="#"><u>Basic Needs Website</u></a></li>
    </ul> 
</div>

<div class="container px-5">
    <p>Useful Links</p>
</div>

<div class="container px-5">
    <p class="mb-0">Residencies</p>
    <ul class="px-2">
        <li><a href="#"><u>Alliance of Artists Communities</u></a></li>
        <li><a href="#"><u>Ceramic Arts Daily, Residency Info</u></a></li>
        <li><a href="#"><u>Res Artis</u></a></li>
        <li><a href="#"><u>Trans ArtistsResidencies</u></a></li>
    </ul> 
</div>

<div class="container pt-5 px-5">
    <div class="row">
        <div class="col-12">
            <p style="font-weight: bold;">Academic and Professional Resources</p>
            <p>The <a href="#">Hammer Museum,</a> the <a href="#">Grunwald Center for the Graphic Arts,</a> the <a href="#">Fowler Museum at UCLA,</a> and the <a href="#">Center for the Art of Performance at UCLA</a>are major resources for students in the Department of Art. The Hammer exhibits a wide range of contemporary art as well as offers lectures, symposia, film series, readings, and concerts. The Fowler Museum explores global arts and cultures with an emphasis on works from Africa, Asia, the Pacific, and the Americas. The Center for the Art of Performance is dedicated to the advancement of the contemporary arts in dance, music, spoken word and theater, as well as emerging digital, collaborative and cross-art platforms, and presents an annual season of performing arts programs and community-engagement events.</p>
            <p>The <a href="#">New Wight Gallery</a> is vital for the visual arts on campus, both as a venue for exhibiting student work and as a forum for discussion. Graduate students organize a biennial exhibition of graduate-level artwork selected from on-site studio visits by graduate students to a number of the most prestigious art schools and university art departments in North America and abroad. MFA exhibitions take place in the New Wight Gallery throughout the academic year.
            </p>
            <p>Prominent guest artists visit classes each year, and distinguished artists are brought to campus annually with funding provided by the UCLA Art Council. The department hosts a <a href="#">Visiting Artists Lecture Series</a> and sponsors symposia with specific themes and core groups of students who act as respondents. Symposia speakers represent internationally acclaimed artists and theorists from various disciplines, including architecture, film, art, and art history.</p>
            <p>The University's many resources include several special archives and collections. The Arts Library contains more than 300,000 volumes in the fields of art, art history, architecture, architectural history, design, and related areas, as well as a comprehensive collection of artists' books. The Boni Collection in Library Special Collections in the Charles E. Young Research Library is an outstanding collection of historical photographic prints, literature, and related material. </p>
            <p>Additionally, the UCLA Library subscribes to Artstor (www.artstor.org), an online database providing access to more than one million images of art, architecture, and other culturally significant objects spanning pre-history to the present day.</p>
            <p> Los Angeles is home to world-renowned museums including the J. Paul Getty Museum (located four miles north of campus), the Los Angeles County Museum of Art, and the Museum of Contemporary Art, Los Angeles, as well as colleges and universities throughout the region. A vibrant art scene exists with galleries throughout the city. Los Angeles also is a regular stop for touring art exhibitions, dance companies, theater productions, and music ensembles from all over the world.</p>
        </div>
    </div>
</div>


  

</body>
</html>