<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Department - Home</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <!--Stylsheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<script src="../JS/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<body class="homePage">

  <!--This page is done except the responsive design is GARBAGE-->
     <!--NavBar-->
     <div class="container  px-0">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://placehold.it/118x43"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav  mr-auto">
              <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
                  <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ACADEMICS+
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-auto">
                          <div class="dropdown-item-text">
                            Text TK TKTK
                          </div>
                          <a class="dropdown-item" href="#">Link</a>
                          <a class="dropdown-item" href="#">Link</a>
                          <a class="dropdown-item" href="#">Link</a>
                        </div>
                        <div class="col-sm-auto">
                          <div class="dropdown-item-text">
                            Text TK TKTKTK
                          </div>
                          <a class="dropdown-item" href="#">Link</a>
                          <a class="dropdown-item" href="#">Link</a>
                          <a class="dropdown-item" href="#">Link</a>
                        </div>
                      </div>
                  </div>
                </li>
            <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
              <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PEOPLE+
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-auto">
                      <div class="dropdown-item-text">
                        Text TK TKTK
                      </div>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                    </div>
                    <div class="col-sm-auto">
                      <div class="dropdown-item-text">
                        Text TK TKTKTK
                      </div>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                    </div>
                  </div>
              </div>
            </li>
            <li class="nav-item  ml-1  ml-lg-4">
              <a class="nav-link" href="#">EVENTS</a>
            </li>
            <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
              <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT+
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-auto">
                      <div class="dropdown-item-text">
                        Text TK TKTK
                      </div>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                    </div>
                    <div class="col-sm-auto">
                      <div class="dropdown-item-text">
                        Text TK TKTKTK
                      </div>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                      <a class="dropdown-item" href="#">Link</a>
                    </div>
                  </div>
              </div>
            </li>
          </ul>
          <div class="my-2 my-lg-0">
              <button type="button" class="mx-1  btn  btn-primary  font-weight-bold  btn--nav">APPLICATIONS</button>
              <button type="button" class="mx-1  btn  btn-warning font-weight-bold btn--nav">FOR CURRENT STUDENTS</button>
           </div>
        </div>
      </nav>
    </div>

    <!--Hero Image-->
    <div class="container home mb-5">
      <img src="http://placehold.it/1140x500" width=100%>
      <div class="text-block">
        <h5 class="bg-primary heroh5 mx-5 px-5 mb-0" >The UCLA Department of Art empowers students to reshape their worlds through critical inquiry and transformative creativity.</h5>
        <button class="mx-5  mt-3 btn btn-warning font-weight-bold btn--nav px-5 homeBtn">Explore Our Programs</button>
      </div>
   </div>

  <!--3-up-->
    <div class="container pt-5 homeBanner">
      <div class="row">
        <div class="col-md-4">
          <p>Meet Our Faculty</p>
          <img src="http://placehold.it/350x300">
          <div class="card-body cardHomeBanner">
            <h4 class="card-title">Card Title</h4>
            <p class="card-text">Opie's various photographic series are linked together by a conceptual framework of cultural portraiture. Her work has been exhibited extensively throughout the United States, Europe, and Japan, including a mid-career survey at the Solomon R. Guggenheim Museum in New York (2008).</p>
            <a href="#">> Read More</a> </div>
        </div>
        <div class="col-md-4">
          <p>Upcoming Events</p>
          <img src="http://placehold.it/350x300">
          <div class="card-body cardHomeBanner">
            <h4 class="card-title">Card Title</h4>
            <p class="card-text">Opie's various photographic series are linked together by a conceptual framework of cultural portraiture. Her work has been exhibited extensively throughout the United States, Europe, and Japan, including a mid-career survey at the Solomon R. Guggenheim Museum in New York (2008).</p>
            <a href="#">> Read More</a></div>
        </div>
        <div class="col-md-4">
          <p>UCLA Department of Art News</p>
          <img src="http://placehold.it/350x300">
          <div class="card-body cardHomeBanner">
            <h4 class="card-title">Card Title</h4>
            <p class="card-text">Opie's various photographic series are linked together by a conceptual framework of cultural portraiture. Her work has been exhibited extensively throughout the United States, Europe, and Japan, including a mid-career survey at the Solomon R. Guggenheim Museum in New York (2008).</p>
            <a href="#">> Read More</a>
          </div>
        </div>
      </div>

    </div>
  <!--Undergrad & Graduate Boxes-->
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-6 pt-5 gridLeft">
          <h4>Undergraduate Admissions</h4>
          <p>Rigorous studio courses with world-renowned faculty enable students to develop their skills and find their voices in a wide range of mediums. Intensive making is augmented by courses in art history and critical theory, as well as liberal arts studies in other academic fields across the UCLA campus. </p>
          <p><a href="#">> Explore the Undergraduate program</a></p>

        </div>
        <div class="col-lg-6 pl-0">
          <img src="http://placehold.it/570x300">
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 px-0">
          <img src="http://placehold.it/570x300">
        </div>
        <div class="col-lg-6 gridRight pr-0">
          <h4 class="pt-5">Graduate Admissions</h4>
          <p class="pr-4">Housed in the newly-renovated UCLA Margo Leavin Graduate Art Studios in Culver City and led by a faculty of internationally-recognized artists, the Art MFA program challenges students to work intensively within and across multiple areas of study to develop innovative and sustainable art practices.</p>
          <p><a href="">> Explore the Graduate program</a></p>
        </div>
      
        
      </div>
    </div>

    <!--Footer-->
      <footer class="footerHome mt-5">
        <div class="row">
          <div class="col-md-2 pt-5 mr-5 ml-1">
            <p class="mb-0">UCLA DEPARTMENT OF ART</p>
            <ul class="px-0">
              <li><a href="#">Undergraduate</a></li>
              <li><a href="#">Graduate</a></li>
              <li><a href="#">Areas of Study</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Employment</a></li>
            </ul>
          </div>
          <div class="col-md-2 pt-5 mx-5">
            <p class="mb-0">ADMISSIONS RESOURCES</p>
            <ul class="px-0">
              <li> <a href="#">Undergraduate Admissions</a></li>
              <li><a href="#">Graduate Admissions</a></li>
              <li><a href="#">Registrar’s Office</a></li>
              <li><a href="#">Financial Aid Office</a></li>
              <li><a href="#">Housing Office</a></li>
              <li><a href="#">Campus Tours</a></li>
              <li> <a href="#">International Students</a></li>
              <li><a href="#">Center for Accessible Education</a></li>
            </ul>
          </div>
          <div class="col-md-2 pt-5 mx-5">
            <p class="mb-0">UCLA ARTS</p>
            <ul class="px-0">
              <li><a href="#">School of the Arts & Architecture</a></li>
              <li><a href="#">Center for the Art of Performance</a></li>
              <li><a href="#">Fowler Museum</a></li>
              <li><a href="#">Hammer Museum</a></li>
              <li><a href="#">Visual and Performing Arts Education Program</a></li>
            </ul>
        </div>
          <div class="col-md-2 pt-5 mx-5 supportFooter">
            <button class="btn">SUPPORT THE UCLA DEPARTMENT OF ART</button>
          </div>
        </div>
        <div class="row mb-0 pb-0">
          <div class="col-md-9 offset-md-2 pt-3">
            <p style="font-size: small;">UCLA School of Arts & Architecture Broad Art Center, Suite 2275, 240 Charles E. Young Drive, Los Angeles, CA 90095-1615 / (310) 825-3281 / General Email / Privacy Policy </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 offset-md-3">
            <img src="https://placehold.it/90x34">
          </div>
          <div class="col-md-2 offset-md-4">
            <p style="font-size:x-small;">All content is © 2018 UCLA Department of Art</p>
          </div>
        </div>
      </footer>
    </body>
    </html>

   