<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undergraduate Studies</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <!--Stylsheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<script src="../JS/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<body>
     <!--NavBar-->
     <div class="container px-0">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="https://placehold.it/118x43"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav  mr-auto">
              <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ACADEMICS+
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="container">
                    <div class="row">
                      <div class="col-md">
                        <div class="dropdown-item-text">
                          Text TK TKTK
                        </div>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                      </div>
                      <div class="col-md">
                        <div class="dropdown-item-text">
                          Text TK TKTKTK
                        </div>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                      </div>
                    </div>
                </div>
              </div></li>
              <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PEOPLE+
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <div class="dropdown-item-text">
                          Text TK TKTK
                        </div>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                      </div>
                      <div class="col-sm">
                        <div class="dropdown-item-text">
                          Text TK TKTKTK
                        </div>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                      </div>
                    </div>
                </div>
              </div></li>
              <li class="nav-item  ml-1  ml-lg-4">
                <a class="nav-link" href="#">EVENTS</a>
              </li>
              <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ABOUT+
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <div class="dropdown-item-text">
                          Text TK TKTK
                        </div>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                      </div>
                      <div class="col-sm">
                        <div class="dropdown-item-text">
                          Text TK TKTKTK
                        </div>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                        <a class="dropdown-item" href="#">LINK</a>
                      </div>
                    </div>
                </div>
              </div></li>
            </ul>
            <div class="my-2 my-lg-0">
              <button type="button" class="mx-1  btn  btn-primary  font-weight-bold  btn--nav">APPLICATIONS</button>
              <button type="button" class="mx-1  btn  btn-warning font-weight-bold btn--nav">FOR CURRENT STUDENTS</button>
            </div>
          </div>
        </nav>
      </div>

      <!--Hero Banner-->
      <div class="container">
          <div class="row">
              <div class="col-lg">
                <h4 style="padding-top:50px">Undergraduate Studies</h4>
                <p style="padding-top:50px">Headed by a faculty of internationally recognized artists and complemented by numerous visiting lecturers, the Department of Art at UCLA is committed to professional art training within the context of a great liberal arts university.</p>
                <button style="margin-top:50px" class="mx-1  btn  btn-warning font-weight-bold btn--nav px-5">Apply Now</button>
              </div>
              <div class="col-lg">
                <img src="http://via.placeholder.com/570x400" alt="Placeholder" width="570" height="400">
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row" style="padding-top:50px;text-align: center;">
              <h5>
                The department offers courses in painting and drawing, photography, sculpture, ceramics, and new genres (including performance art, video, installation, and nonstudio work).
              </h5>
          </div>
      </div>

      <div class="container">
          <div class="row" style="padding-top:50px">
              <div class="col-md">
                <div class="card-body">
                    <h6 class="card-title"><mark>PAINTING & DRAWING</mark></h6>
                    <p class="card-text">The Painting and Drawing area at UCLA encourages innovation and experimentation while also familiarizing students with the history of the longest standing practice in the visual arts. Excellent facilities and renowned faculty, both tenured and visiting, combine to create a rich and rewarding atmosphere for artistic production.</p>
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> >Read More about Painting & Drawing</a>
                  </div>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                  </div>
                  <img class="card-img-bottom" src="http://via.placeholder.com/370x230" alt="Painting" style="width:100%">

              </div>
              <div class="col-md">
                <div class="card-body">
                    <h6 class="card-title"><mark>PAINTING & DRAWING</mark></h6>
                    <p class="card-text">The Painting and Drawing area at UCLA encourages innovation and experimentation while also familiarizing students with the history of the longest standing practice in the visual arts. Excellent facilities and renowned faculty, both tenured and visiting, combine to create a rich and rewarding atmosphere for artistic production.</p>
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> >Read More about Painting & Drawing</a>
                  </div>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                  </div>
                  <img class="card-img-bottom" src="http://via.placeholder.com/370x230" alt="Painting" style="width:100%">

            </div>
            <div class="col-md">
                <div class="card-body">
                    <h6 class="card-title"><mark>PAINTING & DRAWING</mark></h6>
                    <p class="card-text">The Painting and Drawing area at UCLA encourages innovation and experimentation while also familiarizing students with the history of the longest standing practice in the visual arts. Excellent facilities and renowned faculty, both tenured and visiting, combine to create a rich and rewarding atmosphere for artistic production.</p>
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> >Read More about Painting & Drawing</a>
                  </div>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                  </div>
                  <img class="card-img-bottom" src="http://via.placeholder.com/370x230" alt="Painting" style="width:100%">

            </div>
              
          </div>
      </div>

      <div class="container">
        <div class="row" style="padding-top:50px">
            <div class="col-md">
              <div class="card-body">
                  <h6 class="card-title"><mark>PAINTING & DRAWING</mark></h6>
                  <p class="card-text">The Painting and Drawing area at UCLA encourages innovation and experimentation while also familiarizing students with the history of the longest standing practice in the visual arts. Excellent facilities and renowned faculty, both tenured and visiting, combine to create a rich and rewarding atmosphere for artistic production.</p>
                  <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> >Read More about Painting & Drawing</a>
                </div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>
                <img class="card-img-bottom" src="http://via.placeholder.com/370x230" alt="Painting" style="width:100%">

            </div>
            <div class="col-md">
              <div class="card-body">
                  <h6 class="card-title"><mark>PAINTING & DRAWING</mark></h6>
                  <p class="card-text">The Painting and Drawing area at UCLA encourages innovation and experimentation while also familiarizing students with the history of the longest standing practice in the visual arts. Excellent facilities and renowned faculty, both tenured and visiting, combine to create a rich and rewarding atmosphere for artistic production.</p>
                  <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> >Read More about Painting & Drawing</a>
                </div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>
                <img class="card-img-bottom" src="http://via.placeholder.com/370x230" alt="Painting" style="width:100%">

          </div>
          <div class="col-md">
              <div class="card-body">
                  <h6 class="card-title"><mark>PAINTING & DRAWING</mark></h6>
                  <p class="card-text">The Painting and Drawing area at UCLA encourages innovation and experimentation while also familiarizing students with the history of the longest standing practice in the visual arts. Excellent facilities and renowned faculty, both tenured and visiting, combine to create a rich and rewarding atmosphere for artistic production.</p>
                  <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> >Read More about Painting & Drawing</a>
                </div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>
                <img class="card-img-bottom" src="http://via.placeholder.com/370x230" alt="Painting" style="width:100%">

          </div>
            
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding-top:50px">
            <div class="col-lg-4">
                <h5>The faculty is composed of leading professional artists who have exhibited internationally as well as in important galleries and museums in Los Angeles and New York. The faculty share a passion for teaching as well as for preparing and encouraging future generations of artists.
                </h5>
                <a href="#" style="font-family: 'Crete Round', serif"> >Meet Our Undergraduate Faculty</a>

            </div>
            <div class="col-lg-8">
                <p style="font-size:16px">The Department of Art is committed to professional art training within the context of a research university. Headed by a faculty of internationally recognized artists and theoreticians and complemented by a roster of distinguished visiting lecturers, the department provides a strong grounding in the principal art traditions and in the visual language of contemporary studio practice.
                </p>
                <p style="font-size:16px">The department provides students with a broad exposure to the arts and encourages new fields of investigation. Students work in more than one medium and explore mixed media possibilities as well. Through the program, students can discover the best way – painting, video, photography, sculpture, ceramics, etc. – to express their ideas.
                </p>
                <p style="font-size:16px">Students drawn to this department are interested in developing and refining their approach to the making and doing of art. The intent of the program is to provide the framework, both through coursework and independent study, to assist each student in the development of his or her own body of work.</p>

            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer bg-primary">
        <h4>Ready to join us at UCLA Department of Art’s
            Undegradute Program? </h4>
            <button type="button" class="mx-2 mt-5 btn  btn-warning font-weight-bold btn--nav">Learn How to Apply</button>
    </div>
</body>
</html>