<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Highlights</title>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <!--Stylsheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<script src="../JS/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<body>

<!--NavBar-->
<div class="container  px-0">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="https://placehold.it/118x43"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ACADEMICS+
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-auto">
                        <div class="dropdown-item-text">
                          Text TK TKTK
                        </div>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                      </div>
                      <div class="col-sm-auto">
                        <div class="dropdown-item-text">
                          Text TK TKTKTK
                        </div>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                      </div>
                    </div>
                </div>
              </li>
          <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PEOPLE+
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container">
                <div class="row">
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item  ml-1  ml-lg-4">
            <a class="nav-link" href="#">EVENTS</a>
          </li>
          <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT+
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container">
                <div class="row">
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                  <div class="col-sm-auto">
                    <div class="dropdown-item-text">
                      Text TK TKTKTK
                    </div>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                    <a class="dropdown-item" href="#">Link</a>
                  </div>
                </div>
            </div>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
            <button type="button" class="mx-1  btn  btn-primary  font-weight-bold  btn--nav">APPLICATIONS</button>
            <button type="button" class="mx-1  btn  btn-warning font-weight-bold btn--nav">FOR CURRENT STUDENTS</button>
         </div>
      </div>
    </nav>
  </div>
<!--Highlights-->
  <div class="container heroBG">
      <h4 class="mx-5 px-5 pt-5">Alumni & Faculty Highlights</h4>
      <p class="mx-5 px-5 pt-3 pb-5">Following graduation from the UCLA Department of Art, many alumni are featured in solo exhibitions and group exhibitions in art galleries across the world, from Blum & Poe in Los Angeles to Tate Modern in London.</p>
  </div>

  <div class="container" id="highlights-body">
      <h4 class="pt-4">2019/2020 Highlights</h4>
      <table class="table">
        <thead>
          <tr>
              <th>Date</th>
              <th>Artist Highlight</th>
          </tr>
        </thead>
        <tr>
            <td>November 3, 2019</td>
            <td>Ry Rocklen, BA '02, performance, <a href="#"><u>Ry Rocklen: Food Group: The Body Palms,</u></a> Palms Park, Los Angeles, California</td>
        </tr>
        <tr>
          <td>November 1, 2019 -
              January 11, 2020</td>
          <td>Calivn Marcus, MFA '15, solo exhibition, <a href="#"><u>Go Hang A Salami Im A Lasagna Hog,</u></a> David Kordansky Gallery, Los Angeles, California</td>
      </tr>
      <tr>
          <td>November 9, 2019 - 
              January 11, 2020</td>
          <td>Matt Johnson, MFA '03, solo exhibition, <a href="#"><u>Matt Johnson,</u></a> Blum & Poe, Los Angeles, California</td>
      </tr>
      <tr>
          <td>November 8 - 
              December 21, 2019</td>
          <td>Nikita Gale, MFA '16, solo exhibition, Hot World, <a href="#"><u>Reyes | Finn,</u></a> Detroit, Michigan</td>
      </tr>
    </table>
      <p class="pt-5 mb-5">If you are an alumnus, please keep in touch! Complete our <a href="#"><u>Alumni Contact Form</u></a> and/or connect with the community at the <a href="#"><u>School of the Arts and Architecture.</u></a></p>
      <h4 class="pt-5">Past Alumni & Faculty Highlights </h4>
      <table class="table">
        <thead>
          <tr>
              <th>Date</th>
              <th>Artist Highlight</th>
          </tr>
        </thead>
        <tr>
            <td>November 3, 2019</td>
            <td>Ry Rocklen, BA '02, performance, <a href="#"><u>Ry Rocklen: Food Group: The Body Palms,</u></a> Palms Park, Los Angeles, California</td>
        </tr>
        <tr>
          <td>November 1, 2019 -
              January 11, 2020</td>
          <td>Calivn Marcus, MFA '15, solo exhibition, <a href="#"><u>Go Hang A Salami Im A Lasagna Hog,</u></a> David Kordansky Gallery, Los Angeles, California</td>
      </tr>
      <tr>
          <td>November 9, 2019 - 
              January 11, 2020</td>
          <td>Matt Johnson, MFA '03, solo exhibition, <a href="#"><u>Matt Johnson,</u></a> Blum & Poe, Los Angeles, California</td>
      </tr>
      <tr>
          <td>November 8 - 
              December 21, 2019</td>
          <td>Nikita Gale, MFA '16, solo exhibition, Hot World, <a href="#"><u>Reyes | Finn,</u></a> Detroit, Michigan</td>
      </tr>
    </table>
  </div>


</body>
</html>