<div class="container  px-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/assets/uclaarts-logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav  mr-auto">
        <li class="nav-item  ml-1  ml-lg-4">
          <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  ml-1  ml-lg-4">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item  ml-1  ml-lg-4">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown  styled-dropdown  ml-1  ml-lg-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Link+
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="container">
              <div class="row">
                <div class="col-sm-auto">
                  <div class="dropdown-item-text">
                    Text TK TKTK
                  </div>
                  <a class="dropdown-item" href="#">Link</a>
                  <a class="dropdown-item" href="#">Link</a>
                  <a class="dropdown-item" href="#">Link</a>
                </div>
                <div class="col-sm-auto">
                  <div class="dropdown-item-text">
                    Text TK TKTKTK
                  </div>
                  <a class="dropdown-item" href="#">Link</a>
                  <a class="dropdown-item" href="#">Link</a>
                  <a class="dropdown-item" href="#">Link</a>
                </div>
              </div>
          </div>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <button type="button" class="mx-1  btn  btn-primary  font-weight-bold  btn--nav">Button TK</button>
        <button type="button" class="mx-1  btn  btn-info  font-weight-bold  btn--nav">Button TKTKTK</button>
      </div>
    </div>
  </nav>
</div>
